@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
}

p{
    font-size: 16px;
    color: #fff;
    margin: 15px 0 20px 0;
}

body{
    width: 100%;
}

/* Home Section */

.container-fluid{
    padding: 40px 200px 0 200px;
}

.home{
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 150px 0 50px;
}


.left h3{
    color: #fff;
    font-size: 2.5rem;
    font-weight:  bold;
    letter-spacing: 0.5px;
    border-radius: 25px;
}

.left h1{
    color: #fff;
    font-size: 4.5rem;
    margin: 10px 0;
}

.left h4{
    color: #fff;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.left p {
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    mask-border: 50px;
    margin-bottom: 15px;
    text-align: justify;
}

.left .btn {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 25px 0;
}

.left .btn button{
    font-size: 15px;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 25px;
    background: #45b8ac;
    border: 2px black;
    outline: none;
    cursor: pointer;
    transition: 0.3 ease-in;
}

.left .btn button:hover{
    transform: translateY(-5px);
    background: #45b8ac;
}

.right .profile{
    text-align: right;
}

.right .profile img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 8px 8px 75px 32px rgba(7, 165, 37, 1);
}

.multiple{
    color: #bc243c;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}


/* Media Screen */

@media screen and (max-width: 1280px) {
    nav {
        padding: 0 50px;
    }

    .home{
        padding: 250px 50px;
        z-index: auto;
    }

    .left h1{
        font-size: 4rem;
    }

    .right .profile img {
        width: 450px;
        height: 450px;
    }
}